@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --color-red: "red";
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    height: 6em;
}

header h1 {
    font-size: 1.5rem;
}

.form-container {
    margin: 5em 10em;
    background-color: #C4C4C4;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

form {
    height: 2em;
}

input[type="number"] {
    height: 100%;
    border: none;
    border-radius: 5px;
    margin-left: 0.7em;
    box-sizing: border-box;
}

button {
    height: 100%;
    margin-left: 0.5em;
    width: 4em;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .05rem;
    border: none;
    border-radius: 10px;
    background-color: #ecfa6d;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #b8c454;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 5em 4em;
}

.numbers-container {
    width: 50%;
    height: fit-content;
    background-color: #C4C4C4;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(30px, 1fr));
    grid-auto-rows: 30px;
    grid-gap: 2px;
}

.number {
    background-color: #ABA7BF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

svg {
    position: relative;
    top: -30px;
    animation-duration: 0.5s;
    animation-name: svgAppear;
}


@keyframes svgAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


section .prime-container {
    background-color: #C4C4C4;
    padding: 0.5em 1em;
}

section .prime-container h2 {
    font-weight: normal;
    font-size: 1.2rem;
}